.contact-page {
  background-color: var(--text-color);
  color: #c4b9b9;
  padding: 5rem 1rem;
  margin-top: 100px;
  min-height: calc(100vh - 200px); /* Ajusta según la altura del footer */
  box-sizing: border-box;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.contact-info {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-info h2 {
  color: var(--bg-color);
  font-size: 3.1rem;
  margin-bottom: 1rem;
}

.contact-description {
  max-width: 700px;
  color: #666;
  letter-spacing: 0.05rem;
  font-size: 18px;
  margin-bottom: 2rem;
}

.social-icons {
  display: flex;
  flex-direction: column; /* Mantener en columna para que los grupos estén uno debajo del otro */
  align-items: flex-start; /* Alinear a la izquierda */
  gap: 15px; /* Espaciado entre los íconos y las URLs */
}

.social-item {
  display: flex;
  align-items: center; /* Centra verticalmente el icono y la descripción */
}

.social-item a {
  color: var(--bg-color);
  font-size: 2rem; /* Aumenta el tamaño del ícono */
  transition: color 0.3s ease; /* Suave transición al hover */
  margin-right: 10px; /* Espacio entre el icono y la URL */
}

.social-item a:hover {
  color: #888; /* Cambia de color al hacer hover */
}

.social-item p {
  margin: 0; /* Elimina el margen del párrafo para mejor alineación */
  font-size: 1rem; /* Tamaño de fuente para la URL */
  color: #666; /* Color del texto de la URL */
}
