@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@font-face {
  font-family: "akatab";
  src: url("Akatab.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #6bceb2;
  --textF-color: #623d7a;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  overflow-x: hidden;
  line-height: 1.6;
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Akatab", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
