@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@font-face {
  font-family: "akatab";
  src: url("Akatab.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --bg-color: #081b29; */
  --bg-color: #020202;
  /* --second-bg-color: #112e42; */
  --second-bg-color: #060606;
  --text-color: #ededed;
  --main-color: #6bceb2;
  --textF-color: #623d7a;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  overflow-x: hidden;
  line-height: 1.6;
  background-color: #000;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.04) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
  background-size: 30px 30px;
  background-position: 0 0;
  transition: background-position 0.3s;
  padding-top: 56px;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
span {
  font-family: "Akatab", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
