/* Sección de Proyectos */
.projects-section {
  margin-top: 5rem;
  padding: 1rem 1rem;
  text-align: center;
  background-color: rgba(235, 235, 235);
}

.projects-section h2 {
  color: var(--bg-color);
  font-size: 3.1rem;
  margin-top: 4rem;
}

.projects-section p {
  color: #555;
  font-size: 1.2rem;
  margin-bottom: 4rem;
}

.projects-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.project-card {
  gap: 40px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.project-card img {
  width: 50%;
  height: auto;
  /* object-fit: cover; */
  /* border: 2px solid #181717; */
  border-radius: 10px;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover img {
  transform: scale(1.01);
  box-shadow: 6px 10px 15px rgba(0, 0, 0, 0.2);
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.project-card h3 {
  color: var(--bg-color);
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.project-card p {
  font-size: 1rem;
}

/* Estilos para el contenedor de los logos */
.tech-logos {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin: auto 20px;
  margin-bottom: 1rem;
}

/* Mantener el color original de los íconos */
.tech-logos .icon {
  width: 20px;
  height: auto;
  color: var(--bg-color);
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Colores originales de los iconos */
.icon-html:hover {
  color: #e44d26;
}

.icon-css:hover {
  color: #1572b6;
}

.icon-js:hover {
  color: #f7df1e;
}

.icon-react:hover {
  color: #61dafb;
}

.icon-git:hover {
  color: #f1502f;
}

.icon-github:hover {
  color: #181717;
}

/* Efecto de zoom al hacer hover */
.tech-logos .icon:hover {
  transform: scale(1.2);
}

/* Estilos para los enlaces */
.project-info a {
  font-family: "Akatab", sans-serif;
  display: block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease, filter 0.3s ease;
  max-width: 200px;
  margin: auto 20px;
}

.project-info a:hover {
  background: #fff;
  color: #111;
  border: 1.5px solid #111;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.08);
  filter: none;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .projects-container {
    gap: 1rem;
  }

  .project-card {
    flex-direction: column;
    gap: 1rem;
  }

  .project-card img {
    width: 100%;
    height: auto;
  }

  .project-info {
    text-align: center;
  }

  .tech-logos {
    justify-content: center;
    gap: 5px;
    margin-bottom: 1.2rem;
  }

  .tech-logos .icon {
    width: 15px;
  }

  .project-info a {
    max-width: 100%;
  }
}
